@import url('https://fonts.googleapis.com/css?family=VT323');

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Roboto&display=swap');
/*
Google fonts
font-family: 'VT323', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

:root {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
    --background-color-alt: rgb(222, 222, 222);
    --background-color-alt2: rgb(190, 190, 190);
    --background-color-60: rgba(255, 255, 255, 0.6);
    --accent-color: #00ccff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(255, 255, 255);
        --background-color: rgb(0, 0, 0);
        --background-color-alt: rgb(44, 44, 44);
        --background-color-alt2: rgb(78, 78, 78);
        --background-color-60: rgba(0, 0, 0, 0.6);
        --accent-color: #00ccff;
    }
}

/* Base layout */
body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

/* Headbar */
.headbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    color: var(--text-color);
    background-color: var(--background-color);
    z-index: 100;
    transition: background 500ms ease-in;
}

/* Main views for PWA continuity*/
.mainview,
.mainview_hidden {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: calc(100% - 2.2rem);
    display: none;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow: auto;
}

.mainview {
    display: block;
}

/*
    landing zone
*/
#landing_view h2 {
    text-align: center;
}

.landing_buttons_pannel {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
}

.landing_button {
    all: unset;
    position: relative;
    height: 6rem;
    width: 14rem;
    box-sizing: border-box;
    margin: 1rem;
    text-align: center;
    line-height: auto;
    font-size: 1.5rem;
    background-color: var(--text-color);
    color: var(--background-color);
    box-sizing: border-box;
    align-self: center;
    align-items: center;
}

/*
    Tickets seer
*/

.table_list_clider_container {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1rem;
    background: none;
    color: inherit;
    height: fit-content;
}

.mode-select-bar {
    position: relative;
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mode-select-button {
    all: unset;
    position: relative;
    margin: 0;
    width: 100%;
    line-height: auto;
    height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    transition: background 300ms, color 300ms;
    color: var(--text-color);
    background-color: var(--background-color);
}

.mode-select-button:hover,
.mode-select-button:focus {
    transition: background 100ms, color 100ms;
    color: var(--text-color);
    background-color: var(--background-color-alt2);
}

.mode-select-button:active {
    transition: background 100ms, color 100ms;
    color: var(--background-color);
    background-color: var(--accent-color);
}

#tickets_table {
    /* Ticket table */
    width: 100%;
    border-collapse: collapse;
}

#tickets_table tr {
    background-color: var(--background-color);
    transition: background 300ms;
    width: 100%;
}

#tickets_table tr:hover {
    background-color: var(--background-color-alt);
    transition: background 50ms;
}

#tickets_table th {
    font-size: 1.2rem;
}

#tickets_table td,
#tickets_table th {
    width: 20%;
    border: 0.1rem solid var(--text-color);
    text-align: center;
    padding: 0.5rem;
}

#tickets_table td {
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background 300ms, color 300ms;
}

#tickets_table td:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--background-color);
    transition: background 50ms, color 50ms;
}

/*
    Tablet / tall aspact ratio
*/
@media screen and (min-aspect-ratio: 1/3) and (min-aspect-ratio: 3/4) and (min-width:300px) {
    .table_list_clider_container {
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        background: none;
        color: inherit;
        height: fit-content;
    }
}

/*    <--  Landscape layout / Standard (with min-width) -->     */
@media screen and (min-aspect-ratio: 3/2) and (min-width:400px) {
    .table_list_clider_container {
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        background: none;
        color: inherit;
        height: fit-content;
    }
}